.App {
    font-family: 'Fira Sans', sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

* {
  box-sizing: border-box;
}

a {
  color: #979292;
}

a:hover {
  text-decoration: none;
  color: #FF781F;
}

a:hover i {
  color: #FF781F;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #FF781F;
}